
.user{
    float: left;
    padding-top: 180px;
    padding-left: 200px;
    margin-left: 220px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.costumer{
    float: right;
    padding-right: 100px;
    max-width: 240px;
    min-height: 400px;
    padding: 10px 10px;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 270px;
    border-radius: 15px;
    border: solid 1px  white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background: purple;
}


.user-type{
    float: right;
    width: 800%;
    max-width:50%;
    min-width:200px;
    max-height:500px;
    min-height:21%;
    padding: 10px;
    margin: 10px 10px;
    background-color: black;
    border: 1px solid #3e3e3e;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }